body {
    background-color: white;
    color: black;
}

.edit_div {
    margin: 0.5em;
    padding: 0;
}
  
.edit_head {
    margin: 0;
    padding: 0.3em;
    font-size: 0.8em;
    color: grey;
}

.turtle_box {
    border: 1px solid black;
    text-align: center;
}

.result_div {
    text-align: left;
}

.turtle_canvas {
    border: 1px solid silver;
    text-align: left;
}

.info, .err {
    font-size: 1em;
    line-height: 1.5em;
    border: 1px solid gray;
    padding: 8px;
}

.info {
    background-color: #f0fff0;
    margin-top: 0;
}

.err {
    background-color: #fff0f0;
}

.hidden {
    display: none;
}